# Ignore all
*
# Whitelist directories
!*/
# Whitelist filetypes
!*.pdf
!*.html
!*.htm
!*.css
!*.js
!*.txt
!*.png
!*.gif
!*.jpg
!*.jpeg
# Whitelist files
!.gitignore
!README
!favicon.ico

public/vanilla/\.DS_Store

public/\.DS_Store

public/testing/\.DS_Store

public/demo/\.DS_Store

public/final/\.register\.html\.swp

public/final/\.index\.html\.swp

public/final/\.main\.html\.swp
