* { 
   margin: 0;
}
body {
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 5px;
}
header {
   width: 100%;
}
h1 {
    font-weight: bold;
    font-size: 200%;
    margin: 5px auto 5px;
}
h2 {
   font-size: 150%;
}
p {
   text-size: 120%;
}
nav { 
   text-size: 120%;
   margin: 5px auto 5px;
}
nav > a {
   padding: 5px;
}
form{
   display: inline-block;
   width: 100%;
}
table {
   width: 100%;
}
th {
   background: #cccccc; 
}
.even {
   background: #e6e6e6;
}
.tablecontainer {
   width: 100%;
   display: inline-block;
}










