body {
	margin: 0;
    height: 100%;
    width: 100%;
    border: 0px solid gray;
	background-color: #A1BCE5;
}

#homecenter {
  position: absolute; 
  left: 35%; 
  top:170px; 
  width: 450px; 
  height: 300px; 
  background-color: #4973B0; 
  border: 0px solid gray;
}

#homecenter1 {
  position: absolute; 
  left: 15%; 
  top:0px; 
  width: 300px; 
  height: 30px; 
}

#section_form {
   display: none;
}
#section_library {
   display: inline;
}
.googleLogin{
  display: block;
  overflow: hidden;
  white-space: nowrap;
/*margin-left: auto;*/
  margin-right: auto;
  width: 191px;
  height: 46px;
  background-image: url("../images/google_normal.png");

}
.googleLogin:hover{
  background-image: url("../images/google_focus.png");
}
.googleLogin.visited{
  background-image: url("../images/google_pressed.png");
}
